<% include partials/header.ejs %>

<div class="row">
	<div class="col">
		<div class="jumbotron title-div">
			<h1>Welcome to your recipe book!</h1>	
		</div>
	</div>
</div>




<div class="row section section-thumbnail">
	<div class="col-12">
		<div class="jumbotron section-header color-white">
			<h2>Your Saved Recipes
				<a href="/recipes/new" class="btn btn-outline-primary color-4 newRecipeButton" role="button"><i class="fas fa-plus"></i></a>
				<a href="/newSearch" class="btn btn-outline-primary color-4 newRecipeButton" role="button"><i class="fas fa-search"></i></a>
			</h1>
		</div>		
	</div>
	
	<div class="col-12" >
		<div class="row color-white">
			<% for (var i = 0; i < recipes.length; i++) { %>
				<a href="/recipes/<%= recipes[i]._id %>" class="col-xl-3 col-lg-4 col-6 thumbnail" image="URL(<%= recipes[i].image %>)">
					
						<h1><%= recipes[i]["title"] %></h1>
					<div class="cover">
					</div>
				</a>
			<% } %>
				<a href="/newSearch" class="col-xl-3 col-lg-4 col-6 thumbnail newRecipe-thumbnail btn btn-outline">
						<i class="fas fa-plus-circle"></i>
				</a>
		</div>
	</div>
</div>



<script type="text/javascript">
	
	var allThumbnails = $(".thumbnail").toArray();

	var width = $(".thumbnail").width();
	$(".thumbnail").css({"height":width+"px"});

	allThumbnails.forEach(function(tn) {
	  if ($(tn).attr("image")) {
	  	var image = $(tn).attr("image");
	  	$(tn).css({"background-image": image});
	  }
	});

	jQuery(window).resize(function() {
		var width = $(".thumbnail").width();
		$(".thumbnail").css({"height":width+"px"});
	});

</script>


<% include partials/footer.ejs %>