<% include partials/header.ejs %>

<div class="row anim-slide-left">
	<div class="col">
		<div class="jumbotron title-div box-shadow">
			<h1>Welcome, <%= user.username %> </h1>	
		</div>
	</div>
</div>




<div class="row section section-thumbnail anim-slide-left">
		<div class="col-12 anim-slide-left">
			<div class="jumbotron section-header color-white box-shadow">
				<h2>Your Saved Recipes
					<a href="/recipes/new" class="btn btn-outline-primary color-4 newRecipeButton" role="button"><i class="fas fa-plus"></i></a>
					<a href="/newSearch" class="btn btn-outline-primary color-4 newRecipeButton" role="button"><i class="fas fa-search"></i></a>
				</h2>
			</div>		
		</div>
		
		<div class="col-12 anim-slide-left" >
			<div class="row color-white box-shadow">
				<% for (var i = 0; i < recipes.length; i++) { %>
					<a href="/recipes/<%= recipes[i]._id %>" class="col-xl-3 col-lg-4 col-6 thumbnail anim-slide-left" image="URL(<%= recipes[i].image %>)">
						
						<h2 class="thumbnail-title"><%= recipes[i]["title"] %></h2>
						<div class="cover">
						</div>
					</a>
				<% } %>
					<a href="/newSearch" class="col thumbnail newRecipe-thumbnail btn btn-outline">
							<i class="fas fa-plus-circle"></i>
					</a>
			</div>
		</div>
</div>



<script type="text/javascript">
	
	var allThumbnails = $(".thumbnail").toArray();

	var width = $(".thumbnail").width();
	$(".thumbnail").css({"height":width+"px"});

	allThumbnails.forEach(function(tn) {
	  if ($(tn).attr("image")) {
	  	var image = $(tn).attr("image");
	  	$(tn).css({"background-image": image});
	  }
	});

	jQuery(window).resize(function() {
		$("*").css({"transition": "none"})
		var width = $(".thumbnail").width();
		$(".thumbnail").css({"height":width+"px"});
		$("*").css({"transition": "all 0.2s"})
	});

</script>

<script type="text/javascript">
	$(".body").addClass("page-loading");

	$(document).ready(function(){
		$(".body").removeClass("page-loading");
		// $(".anim-slide-left:first").animate({
		// 	transform:"translate(0,0)"
		// },{
		// 	duration:400,
		// 	complete:function(){
		// 		$(this).removeClass("anim-slide-left");
		// 		$(".anim-slide-left:first").queue(false);
		// 	}
		// })
		// $(".anim-slide-left").forEach(div){
		// 	div.animate({
		// 		transform:"translate(0,0"
		// 	},{
		// 		complete:function(){
		// 			div.removeClass("anim-slide-left");
		// 		}
		// 	})
		// }
		// $(".anim-slide-left").each(function (i) {
		//     // store the item around for use in the 'timeout' function
		//     var $item = $(this); 
		//     // execute this function sometime later:
		//     setTimeout(function() { 
		//       $item.animate({transform: "translate(0,0)"}, {duration:1000});
		//     }, 500*i);
		//     // each element should animate half a second after the last one.
		//   });

		var animationDivCount = $(".anim-slide-left").length;

		console.log($(".anim-slide-left:first"))

		for (var i = 0; i < animationDivCount; i++) {
				$(".anim-slide-left").eq(i).css("transition-delay",0.08*i+"s");
				$(".anim-slide-left").eq(i).css("opacity",100);
				$(".anim-slide-left").eq(i).css("transform", "translate(0,0)");
			}
		})



</script>


<% include partials/footer.ejs %>