<% include partials/header.ejs %>

<form method="POST" action="/newSearch" class="form">
	<input type="text" name="recipe[search]" class="form-control">
	<button class="btn btn-primary">Submit</button>
</form>


<% include partials/footer.ejs %>