<% include partials/header.ejs %>

<%
	var link = "";
%>

<form method="POST" action="/newLink/<%= link %>" class="form">
	<input type="text" name="recipe[link]" class="form-control">
	<button class="btn btn-primary">Submit</button>
</form>



<% include partials/footer.ejs %>