:root {
	--color-background: rgba(255,255,255,0.6);
	--color-1: rgba(255,255,255,0.6); 	/*section header*/
	--color-2: rgba(255,255,255,0.6);		/*section background*/
	--color-3: rgba(255,255,255,0.6);		/*jumbotron*/
	--color-4: #FF1654;		/*button*/
}

.color-background {
	background-color: var(--color-background);

}
.color-1 {
	background-color: var(--color-1);
}
.color-2 {
	background-color: var(--color-2);
}
.color-3 {
	background-color: var(--color-3);
}
.color-4 {
	color: var(--color-4);
	border-color: var(--color-4);
}
.color-4:hover {
	background-color: #E75A7C;
	border-color: #E75A7C;
}

h1{
	padding: 0;
	margin: 0;
}

body {
	background: rgb(72,169,166);
	background: linear-gradient(45deg, rgba(72,169,166,1) 0%, rgba(193,102,107,1) 100%);
}

#formCarousel .carousel-item {
	background-color: blue;
	height: 400px;
	padding: 10px 200px;
}

.row {
	margin: 0;
}

.section-header {
	margin: 0;
	padding: 10px;
	border-radius: 0;
}

.section {
	padding: 0;

}

.section:nth-of-type(odd) {
	background-color: #f0ebb1;
}

.section-thumbnail .thumbnail {
	transition: all .4s;
	color: white;
	
}

.section-thumbnail .thumbnail:hover {
	/*background-image: url("https://images.unsplash.com/photo-1426869981800-95ebf51ce900?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");*/
	transform: scale(1.1);
	z-index: 10;
}

.cover {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	transition: all 0.4s;
	
}

.cover:hover {
	opacity: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.btn {
	font-size: 30px;
}